@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
/* added from solution  */
  display: flex;
  flex-direction: column;
}

/* same */

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* padding: 8px;  not same as solution */
  padding: 8px 16px;
}

/* same */
input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* sloppy on my part */
/* .header {
  display:flex;
  align-items: center;
  justify-content: space-between ;
}

.footer {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(228, 221, 213); 
}*/

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
}

.content {
  display:flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: #666;
  text-decoration: none;
}


/* don't think I need any of this  */
/* .left-links {
  display:flex;
  list-style-type: none;
  /* align-items: flex-start; 
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
}

.right-links {
  display:flex;
  list-style-type: none;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 10px;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  height: 100vh;
  margin: 0;
}

/* a {
  font-size: 16px;
  color: grey;
  padding: 0px;
   this removes the line under the links
  text-decoration: none; 
} */

ul {
  padding: 0px;
  display: flex;
  list-style: none;
  margin: 0;
  gap: 16px;
}